.av-table-carros-col-codigo, .av-table-carros-col-icons{
	width: 100px;
	text-align: center;
}

.av-table-carros-col-icons{
	width: 100px;
}

.av-table-carros-col-icons{
	width: 100px;
	text-align: center;
}